<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <h1>TODO APP</h1>
    <form method="POST">
        <div id="description" class="contain">
            <label for="desc">DESCRIPTION</label>
            <input name="task" class="form-control" type="text" id="desc" placeholder="what do you need to do?">
        </div>
        <div id="category-due">
            <div id="category-container" class="contain">
                <div id="category">
                    <p id="category-heading">
                        CATEGORY
                    </p>
                </div>
                <div id="options">
                    <select class="form-control" name="category">
                        <option value="choose" disabled selected>Choose a category</option>
                        <option value="personal">Personal</option>
                        <option value="work">Work</option>
                        <option value="school">School</option>
                        <option value="cleaning">Cleaning</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
            <div id="date-container" class="contain">
                <div id="date">
                    <p id="date-heading">
                        DUE-DATE
                    </p>
                </div>
                <div id="select-date">
                    <input name="date" class="form-control" id="date" type="date" placeholder="dd/mm/yy">
                </div>
            </div>
        </div>
        <div id="buttons">
            <div id="but1">
                <i class="fas fa-plus"></i>
                <button type="submit" class="btn btn-secondary" formaction="/add-task">ADD TASK</button>
            </div>
            <div id="but2">
                <i class="far fa-trash-alt"></i>
                <button type="submit" class="btn btn-danger" formaction="/delete-task">DELETE TASKS</button>
            </div>
        </div>
    </form>

    <%for(let i of task_list) {%>
    <div class="content border border-secondary">
        <div class="tasks">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">
                </label>
            </div>
            <div class="text">
                <p><%=i.task%></p>
            </div>

            <%if(i.category=="personal"){%>
            <div class="cat bg-success">
                <p class="cat-text"><%=i.category%></p>
            </div>
            <%}%>   
            <%if(i.category=="work"){%>
            <div class="cat bg-danger">
                <p class="cat-text"><%=i.category%></p>
            </div>
            <%}%>
            <%if(i.category=="school"){%>
            <div class="cat bg-warning">
                <p class="cat-text"><%=i.category%></p>
            </div>
            <%}%>
            <%if(i.category=="cleaning"){%>
            <div class="cat bg-info">
                <p class="cat-text"><%=i.category%></p>
            </div>
            <%}%>
            <%if(i.category=="other"){%>
            <div class="cat bg-light">
                <p class="cat-text"><%=i.category%></p>
            </div>
            <%}%>
           
        </div>        
        <div class="dat">
            <i class="fas fa-calendar-alt"></i>    
            <p class="dat-p"><%=i.date%></p>
        </div>
    </div>
    <% } %>
</body>

</html>